<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="internal-nlog.txt">

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>
	<variable name="msgLayout" value="${longdate} ${uppercase:${level}} [${threadid}] ${callsite}: ${message}" />
	<variable name="excLayout" value="${exception:format=Type,Message,StackTrace:maxInnerExceptionLevel=9:innerFormat=Type,Message,StackTrace:separator=  }" />
	<variable name="fullLayout" value="${msgLayout} ${excLayout}" />
	<variable name="msgLayoutCon" value="${longdate} ${uppercase:${level}} ${message}" />
	<variable name="fullLayoutCon" value="${msgLayoutCon} ${exception:format=Type,Message}" />
	<variable name="localLayout" value="${uppercase:${level}} -- ${longdate} ${newline}    correlationId: ${event-context:item=correlationId} ${newline}    Logger: ${logger} ${newline}    ClientIP: ${event-context:item=clientIP} ${newline}    Token: ${event-context:item=token} ${newline}    Message: ${message} ${newline}    IncomingMessage: ${event-context:item=incomingMessage} ${newline}    ExecTime: ${event-context:item=execTime} ms ${newline}    ExecLayout: ${excLayout} ${newline}    Meta: ${event-context:item=meta} ${newline}  " />
	<!-- the targets to write to -->
	<targets async="true">

		<target name="file" xsi:type="File"
			  layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}"
			  fileName="${basedir}/logs/${date:format=yyyy-MM-dd}.log"
			  encoding="utf-8"
			  archiveEvery ="Month"/>
		<target name="coloredConsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false"
            layout="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${message}" >
			<highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
			<highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
			<highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
			<highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
			<highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
		</target>

		<!--<target xsi:type="File" name="local" layout="${localLayout}" fileName="EList.API_log.txt"/> -->

		<target name="jsonConsole" xsi:type="Console">
			<layout xsi:type="JsonLayout" includeEventProperties="false">
				<attribute name="service" layout="elist-api" />
				<attribute name="level" layout="${uppercase:${level}}" />
				<attribute name="requestid" layout="${event-context:item=correlationId}" />
				<attribute name="methodname" layout="${event-context:item=methodName}" />
				<attribute name="message" layout="${message}" />
				<attribute name="exception" layout="${excLayout}" />
				<attribute name="exectime" layout="${event-context:item=execTime}" />
				<!-- остальные поля по необходимости -->
			</layout>
		</target>


	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<!--All logs, including from Microsoft-->
		<logger name="*" minlevel="Info" writeTo="jsonConsole, file" />
		<logger name="*" minlevel="Trace" maxlevel="Debug" writeTo="coloredConsole" />


		<!--
		<logger name="*" minlevel="Error" writeTo="file" />
		
	  <logger name="*" minlevel="Info" writeTo="local" />
    <logger name="*" minlevel="Trace" writeTo="coloredConsole" />
    <logger name="*" minlevel="Debug" writeTo="File" />-->
		<!--Skip non-critical Microsoft logs and so log only own logs-->
		<!--<logger name="Microsoft.*" maxlevel="Info" final="true" />-->
	</rules>
</nlog>